.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.containerItem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerItem:nth-child(2) {
  border-left: 1px solid;
}