.form {
  max-width: 1000px;
  margin: 16px auto 56px;
  padding: 0 50px;
}

.formSection {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 20px;
}

.input {
  padding: 4px 6px;
  outline: none;
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 7px;
}